In [2]:
import pandas as pd

df=pd.read_csv('../data/Video-Games-Sales-Editado.csv')

df.head()

,Rank,Game Title,Platform,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Review
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,40.43,28.39,3.77,8.54,81.12,76.28
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,91.00
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,14.50,12.22,3.63,3.21,33.55,82.07
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,14.82,10.51,3.18,3.01,31.52,82.65
4,5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,88.00

In [30]:
df.groupby(by='Genre').agg({
    'Global':['sum','min','max','mean']
}).sort_values(by=[('Global', 'sum')], ascending=False)

              Global
                 sum   min    max      mean
Genre
Sports        703.11  0.83  81.12  2.282825
Action        637.27  0.83  20.81  2.317345
Platform      595.24  0.84  40.24  3.166170
Shooter       557.20  0.83  28.31  2.704854
Role-Playing  496.20  0.83  23.10  2.868208
Racing        451.80  0.83  33.55  2.429032
Misc          426.12  0.83  28.71  2.680000
Fighting      249.00  0.83  11.58  1.976190
Adventure     239.45  0.84   8.03  2.176818
Simulation    205.14  0.83  24.50  2.229783
Puzzle        108.65  0.84  30.26  2.469318
Strategy       77.80  0.86   5.45  1.945000

In [62]:
juegos_review_alto = df.sort_values(by="Review",ascending=False)
juegos_review_alto.head()

,Rank,Game Title,Platform,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Review
73,74,The Legend of Zelda: Ocarina of Time,N64,1998.0,Adventure,Nintendo,4.10,1.89,1.45,0.16,7.60,97.00
821,822,The Orange Box,X360,2007.0,Shooter,Electronic Arts,1.04,0.48,0.02,0.17,1.71,96.36
411,412,Metroid Prime,GC,2002.0,Shooter,Nintendo,1.96,0.67,0.10,0.09,2.82,96.35
78,79,Tekken 3,PS,1998.0,Fighting,Sony Computer Entertainment,3.27,2.22,1.40,0.29,7.16,96.30
461,462,BioShock,X360,2007.0,Shooter,Take-Two Interactive,1.46,0.81,0.05,0.26,2.58,96.12

In [63]:
generos_top = df["Genre"].value_counts().sort_values(ascending=False)
generos_top

Genre
Sports          308
Action          275
Shooter         206
Platform        188
Racing          186
Role-Playing    173
Misc            159
Fighting        126
Adventure       110
Simulation       92
Puzzle           44
Strategy         40
Name: count, dtype: int64

In [5]:
df.corr(numeric_only=True,method='pearson')

,Rank,Year,North America,Europe,Japan,Rest of World,Global,Review
Rank,1.000000,0.101943,-0.480582,-0.466451,-0.358849,-0.436750,-0.529373,-0.292892
Year,0.101943,1.000000,-0.071347,0.085549,-0.274221,0.201768,-0.047886,0.010387
North America,-0.480582,-0.071347,1.000000,0.720766,0.416743,0.693662,0.933073,0.175684
Europe,-0.466451,0.085549,0.720766,1.000000,0.402289,0.922623,0.888902,0.129741
Japan,-0.358849,-0.274221,0.416743,0.402289,1.000000,0.308785,0.591751,0.148584
Rest of World,-0.436750,0.201768,0.693662,0.922623,0.308785,1.000000,0.837469,0.138467
Global,-0.529373,-0.047886,0.933073,0.888902,0.591751,0.837469,1.000000,0.181881
Review,-0.292892,0.010387,0.175684,0.129741,0.148584,0.138467,0.181881,1.000000

Se observa una correlación alta entre las ventas Globales y las de Norte America.

In [8]:
df_Wii=df[df['Platform'] =='Wii']
df_Wii.corr(numeric_only=True,method='pearson')

,Rank,Year,North America,Europe,Japan,Rest of World,Global,Review
Rank,1.000000,-0.046603,-0.457737,-0.443618,-0.499767,-0.441118,-0.467002,-0.184623
Year,-0.046603,1.000000,-0.130050,-0.131741,-0.081317,-0.138215,-0.130053,0.055807
North America,-0.457737,-0.130050,1.000000,0.976064,0.765158,0.991814,0.993426,0.123961
Europe,-0.443618,-0.131741,0.976064,1.000000,0.769739,0.993844,0.990753,0.117222
Japan,-0.499767,-0.081317,0.765158,0.769739,1.000000,0.762928,0.808802,0.216480
Rest of World,-0.441118,-0.138215,0.991814,0.993844,0.762928,1.000000,0.996195,0.114162
Global,-0.467002,-0.130053,0.993426,0.990753,0.808802,0.996195,1.000000,0.132836
Review,-0.184623,0.055807,0.123961,0.117222,0.216480,0.114162,0.132836,1.000000

In [8]:
preferencias_regionales_por_genero = df.groupby('Genre').agg({
    'North America': 'sum',
    'Europe': 'sum',
    'Japan': 'sum',
    'Rest of World': 'sum'
})

# Calculating the total sales in each region for normalization
total_ventas_por_region = preferencias_regionales_por_genero.sum()

# Normalizing the sales data to understand relative popularity of genres in each region
preferencia_normalizada_por_genero = preferencias_regionales_por_genero / total_ventas_por_region

#print(total_ventas_por_region)

#print(preferencias_regionales_por_genero)

#print(preferencia_normalizada_por_genero)

In [23]:
publisher_ventas_review = df.groupby('Publisher').agg({'Global': 'sum', 'Review': 'mean'}).reset_index()

top_publisher_ventas = publisher_ventas_review.sort_values(by='Global', ascending=False).head(10)

print(top_publisher_ventas)

                      Publisher   Global     Review
53                     Nintendo  1448.84  81.621858
24              Electronic Arts   633.36  79.745630
69  Sony Computer Entertainment   377.61  81.303333
7                    Activision   371.42  79.741915
78         Take-Two Interactive   208.42  83.425733
83                      Ubisoft   196.32  76.015376
47       Microsoft Game Studios   169.73  82.583404
77                          THQ   142.98  72.842135
68                         Sega   122.67  79.408148
15                       Capcom   114.33  81.997143

# Analizaremos al Publisher Nintendo

In [22]:
df_nintendo=df[df['Publisher'] =='Nintendo']
juegos_top_review = df_nintendo.sort_values(by='Review', ascending=False)
juegos_top_review.head(10)

,Rank,Game Title,Platform,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Review
73,74,The Legend of Zelda: Ocarina of Time,N64,1998.0,Adventure,Nintendo,4.10,1.89,1.45,0.16,7.60,97.00
411,412,Metroid Prime,GC,2002.0,Shooter,Nintendo,1.96,0.67,0.10,0.09,2.82,96.35
903,904,The Legend of Zelda: Twilight Princess,GC,2006.0,Adventure,Nintendo,1.15,0.36,0.04,0.04,1.59,95.00
65,66,GoldenEye 007,N64,1997.0,Shooter,Nintendo,5.80,2.01,0.13,0.15,8.09,94.59
87,88,The Legend of Zelda: Twilight Princess,Wii,2006.0,Adventure,Nintendo,3.56,1.94,0.60,0.66,6.76,94.58
183,184,The Legend of Zelda: The Wind Waker,GC,2002.0,Adventure,Nintendo,2.60,0.99,0.89,0.13,4.60,94.43
481,482,Perfect Dark,N64,2000.0,Action,Nintendo,1.55,0.75,0.16,0.06,2.52,94.20
182,183,The Legend of Zelda: A Link to the Past,SNES,1991.0,Adventure,Nintendo,2.42,0.91,1.15,0.13,4.61,94.00
15,16,Super Mario World,SNES,1990.0,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61,94.00
1048,1049,Super Metroid,SNES,1994.0,Adventure,Nintendo,0.57,0.12,0.71,0.02,1.42,94.00

Observamos que la saga The Legend of Zelda posee muy buenos reviews y ventas para Nintendo.

In [28]:
juegos_top_ventas = df_nintendo.sort_values(by='Global', ascending=False)
juegos_top_ventas.head(10)

,Rank,Game Title,Platform,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Review
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,40.43,28.39,3.77,8.54,81.12,76.28
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,91.00
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,14.50,12.22,3.63,3.21,33.55,82.07
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,14.82,10.51,3.18,3.01,31.52,82.65
4,5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,88.00
5,6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,10.85,8.87,6.48,2.88,29.08,90.00
6,7,Wii Play,Wii,2006.0,Misc,Nintendo,13.83,9.11,2.93,2.84,28.71,61.64
7,8,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,84.00
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,13.35,6.48,4.66,2.25,26.75,88.18
9,10,Nintendogs,DS,2005.0,Simulation,Nintendo,9.02,10.81,1.93,2.73,24.50,85.00

In [31]:
top_ventas_wii=juegos_top_ventas[juegos_top_ventas['Platform'] =='Wii']
top_ventas_wii.head()

,Rank,Game Title,Platform,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Review
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,40.43,28.39,3.77,8.54,81.12,76.28
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,14.50,12.22,3.63,3.21,33.55,82.07
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,14.82,10.51,3.18,3.01,31.52,82.65
6,7,Wii Play,Wii,2006.0,Misc,Nintendo,13.83,9.11,2.93,2.84,28.71,61.64
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,13.35,6.48,4.66,2.25,26.75,88.18

Notamos que juegos de la plataforma Wii lograron que las ventas globales de Nintendo fueran significativas en comparación con los demás Publishers.

# Analizaremos al Publisher Sony

In [32]:
df_sony=df[df['Publisher'] =='Sony Computer Entertainment']
juegos_top_review_sony = df_sony.sort_values(by='Review', ascending=False)
juegos_top_review_sony.head(10)

,Rank,Game Title,Platform,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Review
78,79,Tekken 3,PS,1998.0,Fighting,Sony Computer Entertainment,3.27,2.22,1.40,0.29,7.16,96.30
106,107,Uncharted 2: Among Thieves,PS3,2009.0,Action,Sony Computer Entertainment,3.04,1.95,0.21,0.92,6.13,95.00
24,25,Gran Turismo 3: A-Spec,PS2,2001.0,Racing,Sony Computer Entertainment,6.85,4.99,1.87,1.16,14.88,94.47
196,197,God of War,PS2,2005.0,Action,Sony Computer Entertainment,2.71,1.29,0.02,0.43,4.45,93.69
185,186,God of War III,PS3,2010.0,Action,Sony Computer Entertainment,2.66,1.17,0.12,0.58,4.53,92.63
56,57,Gran Turismo 2,PS,1999.0,Racing,Sony Computer Entertainment,3.88,3.29,1.69,0.50,9.36,92.42
52,53,Final Fantasy VII,PS,1997.0,Role-Playing,Sony Computer Entertainment,3.01,2.47,3.28,0.96,9.72,92.10
464,465,Ratchet & Clank: Up Your Arsenal,PS2,2004.0,Platform,Sony Computer Entertainment,1.31,0.74,0.31,0.22,2.57,92.00
174,175,Crash Team Racing,PS,1999.0,Racing,Sony Computer Entertainment,2.57,1.57,0.44,0.21,4.79,91.78
66,67,Final Fantasy X,PS2,2001.0,Role-Playing,Sony Computer Entertainment,2.91,2.07,2.73,0.33,8.05,91.73

In [33]:
juegos_top_ventas_sony = df_sony.sort_values(by='Global', ascending=False)
juegos_top_ventas_sony.head(10)

,Rank,Game Title,Platform,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Review
24,25,Gran Turismo 3: A-Spec,PS2,2001.0,Racing,Sony Computer Entertainment,6.85,4.99,1.87,1.16,14.88,94.47
39,40,Gran Turismo 4,PS2,2004.0,Racing,Sony Computer Entertainment,3.01,5.63,1.10,1.62,11.36,89.41
42,43,Gran Turismo,PS,1997.0,Racing,Sony Computer Entertainment,4.22,3.87,2.54,0.52,11.15,88.00
52,53,Final Fantasy VII,PS,1997.0,Role-Playing,Sony Computer Entertainment,3.01,2.47,3.28,0.96,9.72,92.10
56,57,Gran Turismo 2,PS,1999.0,Racing,Sony Computer Entertainment,3.88,3.29,1.69,0.50,9.36,92.42
59,60,Gran Turismo 5,PS3,2010.0,Racing,Sony Computer Entertainment,2.22,4.21,0.80,1.59,8.82,84.33
66,67,Final Fantasy X,PS2,2001.0,Role-Playing,Sony Computer Entertainment,2.91,2.07,2.73,0.33,8.05,91.73
78,79,Tekken 3,PS,1998.0,Fighting,Sony Computer Entertainment,3.27,2.22,1.40,0.29,7.16,96.30
106,107,Uncharted 2: Among Thieves,PS3,2009.0,Action,Sony Computer Entertainment,3.04,1.95,0.21,0.92,6.13,95.00
113,114,Kingdom Hearts,PS2,2002.0,Role-Playing,Sony Computer Entertainment,3.64,1.20,0.94,0.07,5.85,91.00

La Saga Gran Turismo a generado buenas cifras para Sony.